<header class="navbar navbar-expand-lg stick-top">
  <nav class="container-xxl bd-gutter flex-wrap flex-lg-nowrap">
    <a href="/" class="navbar-brand p-0 me-0 me-lg-2">Tickets</a>
  </nav>
</header>
