<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/main.css" />
    <script src="https://unpkg.com/feather-icons"></script>
    <title>Tickets</title>
  </head>
  <body>
    <div class="w-full h-screen w-full flex">
      <%- include('../components/sidebar'); %>
      <main class="h-full w-full flex flex-col sm:flex-row">
        <section
          class="w-full sm:max-w-sm sm:h-full bg-gray-100 border-b sm:border-r border-zinc-300"
        >
          <div class="h-16 border-b border-zinc-300 flex items-center px-4">
            <h5 class="text-lg">Painel</h5>
          </div>
          <div class="p-4">
            <label
              for="search-tickets"
              class="w-full p-2 bg-white flex border border-gray-300 items-center"
            >
              <i class="mr-2 text-gray-400" data-feather="search" width="22" height="22"></i>
              <input
                id="search-tickets"
                type="text"
                class="w-full outline-0"
                placeholder="Procurar tickets"
              />
            </label>
          </div>
        </section>
        <section class="flex-1">
          <div class="h-16 border-b border-zinc-300 flex items-center px-4">
            <h5 class="text-lg">Todos os tickets</h5>
          </div>
        </section>
      </main>
    </div>
    <script>
      feather.replace()
    </script>
  </body>
</html>
