<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg"/>
    <link rel="stylesheet" href="/static/styles/main.css" />
    <title>Tickets</title>
  </head>
  <body>
    <div class="px-4 bg-gray-100 h-screen grid place-items-center text-center sm:px-0">
      <form
        class="w-full max-w-sm mx-auto flex flex-col"
        method="post"
        action="/login"
      >
        <h1 class="text-2xl mb-8 font-medium"><%= error %></h1>
        <a href="<%= goBack ? goBack : '/login' %>">Voltar</a>
      </form>
    </div>
  </body>
</html>
